<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= page %> — Wallet Prototype</title>
<link rel="icon" type="image/png" href="/public/icon/favicon.png" />
<link rel="stylesheet" href="/public/css/style.css" />
